
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

 a {
    text-decoration: none;
    color: black;
   padding: 10px;
}



.checkout-section {
    display: flex; 
    justify-content: space-around; 
    padding: 20px;

}

.cart-items, .order-summary {
    border: 1px solid #ccc;
    border-width: 0.15em;
    border-radius: 15px; 
    padding: 20px;
    width: 45%; 
    box-sizing: border-box; 
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}


#cart_logo{
    cursor: pointer;
}

#bottomtext{
    margin-left: 40px;
    color: #9c9b9b;}

.subtext{
    color: #9c9b9b;
}


#discountbar{
    border: none;
    text-decoration: none;
    outline: none;
    background-color: #ccc;
    border-radius: 30px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-left: 5px;

    
}

#icon{
    color: #000000;
    
}

#Apply{
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;


}
#Apply:hover{transform: scale(1.05);}
#sub{
    border: none;
    border-radius: 30px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}
#sub:hover{
    transform: scale(1.05);
}



.Submit_order {
    margin-top: 30px ;
    display: flex;
    justify-content: left;
    
}

#Title{text-align: center;


}

.Product{font-size: 1.25em;}

#Quantity{
    border-style: solid;
    border-width: 3px;
    background-color:#ccc ;
    border-color:#9c9b9b;
    color: #626262;
    

}

